.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 768px) {

  .project {
    grid-template-columns: 1fr;
  }

  .project-video {
    order: -1; /* puts video ABOVE text */
  }

}
.hero-video, .project-video {
  aspect-ratio: 16 / 9;
  border: 1px solid #555;
}
